build/
**egg**
_version.py
*__pycache__/*
*.pyc
plotnado_figures/
*.bw
*.bgz*
.vscode/launch.json
*.pdf
*.png
*.svg
template.toml
genes_to_json.ipynb
plot_chipment_and_mcc.ipynb
plot_mcc.ipynb
test.ipynb
vs-mcc-plots.ipynb
site/*
H3K79me2.toml
test.def
.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/README
.jupyter/migrated
.jupyter/labconfig/page_config.json
.local/share/jupyter/runtime/jupyter_cookie_secret
